*{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arvo';
    color: #fff;

}

body{
    width: 100%;
    min-width: 1280px;
    background: #353F53;
    max-height: 1920px;
    height: 100vh;
}

button{
    border: none
}

/* Обычный */
@font-face {
    font-family: 'Arvo';
    font-weight: 400;
    font-style: normal;
	src: url('../font/Arvo-Regular_201.ttf'); 
}
 
/* Жирный */
/* @font-face {
	font-family: 'Arvo bold'; 
	src: url(/tth/font/Arvo-Bold.ttf); 
} */
